#order-detail-map{
    width: 100%;
    height: 500px;
    padding: 0;
    margin: 0;
}

#order-edit-point-map{
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0;
}

#orders-market-map{
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
}